@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


html, body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a; /* dark background same as your HomePage */
  height: 100%;
  overflow-x: hidden;
}

